.card {
  border: 3px solid;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.casco-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.detail-card {
  border: 2px solid black;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}