<div class="container">
  <div class="list-container">
    @for (driver of drivers; track driver.nome) {
      <div class="card"
           (click)="selectDriver(driver)">

        <h3>{{ driver.nome }}</h3>
        <p>{{ driver.scuderia }}</p>
        <p>#{{ driver.numeroGara }}</p>

      </div>
    }
  </div>

  <div class="detail-container">
    @if (selectedDriver) {   //se è stato selezionato un driver, mostra i dettagli
      <app-driver-detail
        [driver]="selectedDriver">  //passa il driver selezionato come input al componente driver-detail
      </app-driver-detail>
    }
  </div>
</div>
